<div class="jumbotron">
	<h1>About us</h1>
	<p>The Violet Society is named after Violet Baudelaire from A Series of Unfortunate Events. In the spirit of creativity and building, members are encouraged to dive in and create things with each other in a supportive and helpful environment. </p>

	<p>Young women who join The Violet Society will have access to a close-knit group of diverse individuals who are willing to work together to make their ideas into realities. We are looking for makers, dreamers, and doers. The organization will involve meetings, educational workshops, and outings.</p>

	<p><%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %></p>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>