<div class="jumbotron">
	<div class="center">
	<h1 class="title">Meeting Dates</h1>
	</div>
	<p>7pm - 9pm Wednesdays</p>
	<p>Meeting Locations TBD</p>
	<ul>
		<li>Jan. 29, 2014</li>
		<li>Feb. 12, 2014</li>
		<li>Feb. 26, 2014</li>
		<li>Mar. 12, 2014</li>
		<li>Mar. 26, 2014</li>
		<li>Apr. 9, 2014</li>
		<li>Apr. 23, 2014</li>
	</ul>

	<p>Sponsored by: </p>
	<%= image_tag("github_logo.png", size: "300x119") %>
	<%= image_tag("google_logo.jpg", size: "350x233") %>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>