<div class="jumbotron">
	<h1>Meeting Dates</h1>
	<p>7pm - 9pm Wednesdays</p>
	<ul>
		<li>Jan. 29</li>
		<li>Feb. 12</li>
		<li>Feb. 26</li>
		<li>Mar. 12</li>
		<li>Mar. 26</li>
		<li>Apr. 9</li>
		<li>Apr. 23</li>
	</ul>

	<p><%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %></p>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>