<div class="jumbotron">
	<div class="center">
		<h1 class="title">The Violet Society</h1>
	</div>
	<p>The Violet Society is a startup sisterhood for future founders. We will begin our meetings for undergraduate women in Boston and Cambridge this January (2014). </p>

	<br>
	<br>
	<p>Sponsored by: </p>
	<%= image_tag("github_logo.png", size: "300x119") %>
	<%= image_tag("google_logo.jpg", size: "350x233") %>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>