<div class="jumbotron">
	<div class="center">
		<h1 class="title">The Violet Society</h1>
	</div>
	<p>The Violet Society is a startup sisterhood for future founders. We will begin our meetings for undergraduate women in Boston and Cambridge this January (2014). </p>

	<div class="center">
		<% if user_signed_in? %>
        	Welcome!
     	<% else %>
			<p>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %>
			</p>
		<% end %>
	</div>
	<br>
	<br>
	<p>Sponsored by: </p>
	<p>Github</p>
	<p>Google</p>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>