<div class="jumbotron">
	<h1>The Violet Society</h1>
	<p>The Violet Society is a new startup sisterhood for young undergraduate women who are interested in technology entrepreneurship. We will begin meeting at Tufts University in January 2014. Please click below to fill out an interest form.</p>

	<p><%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %></p>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>