<div class="jumbotron">
	<h1>Resources</h1>
		<h3>Tech Startup Resources</h3>
			<h4>University Resources</h4>
				<ul>
					<li>MIT StartLabs</li>
					<li>Harvard iLab</li>
				</ul>
			<h4>Boston Resources</h4>
				<ul>
					<li>Greenhorn Connect</li>
					<li>Girl Geek Dinners</li>
					<li>Bost Inno Magazine</li>
				</ul>
			<h4>Online Magazines</h4>
				<ul>
					<li>TechCrunch</li>
					<li>Gizmodo</li>
					<li>The Verge</li>
					<li>Smashing Magazine</li>
					<li>A List Apart</li>
				</ul>
			<h4>Blogs</h4>
				<ul>
					<li>Seth Godin</li>
					<li>Paul Graham</li>
					<li>Cal Newport</li>
				</ul>
			<h4>Online Tech Communities</h4>
				<ul>
					<li>Hacker News</li>
					<li>Medium</li>
					<li>Twitter</li>
				</ul>

		<h3>Online Education</h3>
			<h4>Programming</h4>
				<ul>
					<li>General Assembly Dash</li>
					<li>Codecademy</li>
					<li>One Month Rails</li>
					<li>Code School</li>
					<li>Udacity</li>
					<li>Treehouse</li>
					<li>Bentobox</li>
				</ul>
			<h4>Design</h4>
				<ul>
					<li>Method of Action</li>
					<li>Hack Design</li>
				</ul>
			<h4>Business</h4>
				<ul>
					<li>Wharton on Coursera</li>
					<li>Stanford Startup Engineering</li>
					<li>How to Build a Startup on Udacity</li>
				</ul>
			<h4>Marketing and Sales</h4>
				<ul>
					<li>Ryan Holiday Growth Hacking</li>
				</ul>
			<h4>Career Development</h4>
				<ul>
					<li>The Daily Muse</li>
					<li>Levo League</li>
					<li>LinkedIn</li>
				</ul>

		<h3>In-Person Education</h3>
			<h4>Courses</h4>
				<ul>
					<li>Women's Coding Collective</li>
					<li>General Assembly</li>
					<li>Intelligent.ly</li>
				</ul>
			<h4>Bootcamps</h4>
				<ul>
					<li>Dev Bootcamp</li>
					<li>Startup Institute</li>
					<li>Hackbright Academy</li>
					<li>Hacker School</li>
					<li>Hack Reactor</li>
				</ul>
			<h4>Hackathons</h4>
				<ul>
					<li>Startup Weekend</li>
					<li>Hacker League</li>
				</ul>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>