<div class="jumbotron">
	<h1>Sponsors and Partners</h1>
		<h3>Sponsors</h3>
			<h4>Violet Sponsors</h4>
				<ul>
					<li>Github</li>
				</ul>
			<h4>Lavender Sponsors</h4>
				<ul>
					<li></li>
				</ul>
		<h3>Partners</h3>
			<h4>Event Partners</h4>
				<ul>
					<li>Women's Coding Collective</li>
					<li>Levo League</li>
					<li>Girl Geek Dinners</li>
				</ul>
			<h4>Meeting Space Partners</h4>
				<ul>
					<li>Cambridge Innovation Center</li>
				</ul>
			<h4>Resource Partners</h4>
				<ul>
					<li>One Month Rails</li>
					<li>Code School</li>
				</ul>
</div>

<br>
<br>
<br>
<p>Built with One Month Rails</p>